@font-face {
  font-family: 'CocoBikeRegular';
  src: url('fonts/CocoBikeR.woff') format('woff');
  /* Add more formats for compatibility if necessary */
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'CocoBikerBold';
  src: url('fonts/CocoBikeR-Bold.woff') format('woff');
  /* Add more formats for compatibility if necessary */
  font-weight: bold;
  font-style: normal;
}

.my-brand, .mymodal-header{
  /* font-family: 'CocoBikerBold', sans-serif; */
font-family: 'CocoBikeRegular', sans-serif;
}

.baner-area{
  background-image: url('img/banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.baner-text {
  color: #ffffff;
}
.navbar-collapse {
  flex-grow: 0;
}
.baner-text-wrapper{
  height: 90vh;
}

.header-div-ul{
  width: 100%;
}

.header-div{
  width: 30%;
}

@media (max-width: 1290px) {
  .header-div{
    width: 40%;
  }
}
@media (min-width: 1560px) {
  .header-div{
    width: 23%;
  }
}


.btn, .nav-link {
  text-align: center;
  font-size: .7em;
  line-height: 1em;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px 15px;
}

.card-img-top {
  height: 245px;
}

.my-card-text {
  white-space: pre-line;
}
.my-card-text a{
  white-space: nowrap;
}
.modal-body .my-card-img{
  height: 25rem;
}
.mymodal-wrapper{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0, .8);
}

.loader {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  /* Положение угла child'a в центре родителя */
  transform: translate(-50%, -50%);
}
.loader::after,
.loader::before {
  content: '';  
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 4px solid #009fe0;
  position: absolute;
  left: 0;
  top: 0;
  animation: animloader 2s linear infinite;
}
.loader::after {
  animation-delay: 1s;
}

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

#root{
  position: relative;
  height: 100vh;
}

